/* MENU */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
}

header{
    background-color: rgba(0, 0, 0, 0.77);

}

.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}

header .navbar-default {
    background-color: transparent;
}

.navbar{
    margin:0;
    border-radius: 0;
}

.pull-right{
    height: 20px;
}

.pull-right li{
    border-radius: 12px;
}

.pull-right li:hover{
    background-color: #EEEEEE;
    transition: 1.5s;
    opacity: 0.6;
}

.navbar-default .pull-right > li > a:hover{
    color:#000000;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    border: none;
}
/* Accueil */
.article-h img {
    height: 150px;
}
/* FIN ACCUEIL */

/* CONTACT FORMULAIRE */
#email_span:hover {
    font-weight:bold;
    cursor: pointer;
}

.contact {
    text-align: center;
}

.form-contact {
    margin:50px 0;
}

.form-contact .btn-envoi {
    margin-top: 50px;
    margin-left: 90%;
}

.form-contact .form-inline {
    margin-bottom: 50px;
}

.form-inline .email-form {
    margin-left: 15px;
}

/* ARTICLE */
.articlehidden{
    display:none;
}

.articlePrincipale {
    margin:0;
    padding:0;
    clear:both;
    float:none;
    width:100%;
}

.articlePrincipale h3{
    text-align:center;
    font-weight:bold;
}

.articlePrincipale img{
    width:500px;
    margin-left:27%;
}
.articlePrincipale p{
    margin-left:20%;
}


.articleblock h3 {
    text-align:center;
}

.articleblock p {
    margin-left:30%;
}

.articleblock img {
    height: 200px;
    margin-left: 30%;
}


/*FOOTER */
footer{
    box-shadow: 0 -8px 8px 1px #0000001a;
    background-color: #f2f2f2;
}

.positionnement{
    margin-top: 40px;
}

.dernierArticles{
    margin-bottom: 60px;
}