/* FONT DU SITE */

h1,h2,h3,h4,h5,h6{
    font-family: 'amira mudarai';
}

p{
    font-family: 'cabin';
    font-size: 16px;
}

/* MENU */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
}

header{
    background-color: rgba(0, 0, 0, 0.77);

}

.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}

header .navbar-default {
    background-color: transparent;
}

.navbar{
    margin:0;
    border-radius: 0;
}

.pull-right{
    height: 20px;
}

.pull-right li{
    border-radius: 12px;
}

.pull-right li:hover{
    background-color: #EEEEEE;
    transition: 1.5s;
    opacity: 0.6;
}

.navbar-default .pull-right > li > a:hover{
    color:#000000;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    border: none;
}
/* Accueil */

/* SLIDER */

/* Fleche slider */

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
}

/* Fin fleche slider */

#carousel-example-generic {
    padding:0;
    margin:0;
}

#carousel-example-generic img {
    width: 20%;
    height: 100%;
    margin-left: 40%;
}

.carousel-inner {
    height: 400px;
}

/* PARALLAX */
#parallax {
    border-top: solid 2px rgba(0, 0, 0, 0.24);
    border-bottom: solid 2px rgba(0, 0, 0, 0.24);
}

.parallax {
    background-image: url("../images/bgimagec.jpg");
    height: 170px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* QUI SUIS JE */
.Presentation{
    margin:0;
    background-color: rgba(248, 248, 248, 0.18);
    color: #000000;
}

.parallax .text-center h1 {
    margin-top: 0;
}

.Presentation p {
    font-size: 18px;
}

/*Animation */

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.article-h {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    animation-duration: 6s;
}

/*ARTICLE*/
.article-h img {
    height: 150px;
}

.dernierArticles h2{
    text-align:center;
    margin-bottom:30px;
}

#article_date select{
    margin-right: 10px;
}

/* FIN ACCUEIL */

/* CONTACT FORMULAIRE */
/* CONTACT FORMULAIRE */
.headercontact h2{
    margin-top: 60px;
    text-transform: uppercase;
    color: #5f5f5f;
}
.headercontact{
    width: 100%;
    height: 90px;
}

#email_span:hover {
    font-weight:bold;
    cursor: pointer;
}

.contact {
    text-align: center;
    height: 550px;
    padding: 30px 0;
    background-color: #f5f5f5;
    margin: 0 0 30px 0;
}

.contact h1{
    margin-bottom:30px;
}

.body_contact{
    background-color: #dedede;
}

.form-contact {
    margin: 30px 0;
}

.form-contact .btn-envoi {
    margin: 30px 0;
    margin-left: 90%;
}

.form-contact .form-inline {
    margin-bottom: 50px;
}

.form-inline .email-form {
    margin-left: 15px;
}

#email_span{
    text-transform: uppercase ;
}

/* ARTICLE */
.containerArticle{
    margin-bottom: 50px;
    margin-top:30px;
}

.articlehidden{
    display:none;
}

.articlePrincipale {
    margin:0;
    padding:0;
    clear:both;
    float:none;
    width:100%;
}

.articlePrincipale h3{
    text-align:center;
    font-weight:bold;
}

.articlePrincipale img{
    width:500px;
    margin-left:27%;
}
.articlePrincipale p{
    margin-left:20%;
}


.articleblock h3 {
    text-align:center;
}

.articleblock p {

}

.articleblock img {
    display: block;
    max-width: 50%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.articleImg{
    height:80px;
}

.table-responsive{
    margin-top: 70px;
}

/* Ajouter article dans admin/article/ajouter */

#article div{
    margin-top: 15px;
}

#form_date select{
    margin-right: 10px;
}

form button{
    margin-top: 10px;
}

/* Fin Ajouter article dans admin/article/ajouter */

/*FOOTER */
footer{
    box-shadow: 0 -8px 8px 1px #0000001a;
    background-color: #707070;
    padding: 50px 0 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5%;
}

footer a{
    color: #FFFFFF;
}

footer a:hover{
    color: #f15e53;
    text-decoration: none;
}

.positionnement{
    margin-top: 40px;
}

.dernierArticles{
    margin-bottom: 60px;
}
/* FIN FOOTER */

/* ADMIN */
/* LOGIN */
#connexion{
    margin:20px;
}

#connexion label{
    color:#FFFFFF;
}

/*Accueil*/

.row{
    margin:0;
    padding:0;
}

.adminBody{
    background-color: #333333;
    width:100%;

}

.adminContainer{
    background-color: #FFFFFF;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    width: 70%;
    margin-bottom: 50px;
}

/* NAVBAR */
.adminBody .navbar-inverse{
    padding: 0 50px 0 20px;
}

.adminBody nav{
    margin-bottom: 50px;
}

.adminBody .navbar_admin ul li a{
    color: #FFFFFF;

}

.adminBody .navbar_admin ul li a:hover {
    color: #c04b42;
    text-decoration: none;
}

.adminBody .navbar_admin ul li{
    text-decoration:none;
    list-style-type: none;
    margin-bottom: 30px;
}


/*SLIDER*/
.adminContainer .slider h3{
    padding-bottom:10px;
    color: #333333;
}
.adminContainer .slider h4{
    margin-top:40px;
}

.adminContainer .slider img{
    height: 130px;
    margin-left: 20px;
    margin-bottom:10px;
    border-radius: 10px;
}

.adminContainer .slider .imageslider a{
    margin-left: 44px;
}

.slider .form-inline form #form label {
    margin-bottom: 10px;
    margin-right: 30px;
    margin-top: 15px;
}

.slider .btn-formslider, .ferm{
    margin-top: 30px;
}

.slider .ferm{
    padding:1px 2px;
}

.image_block_modif{
    border-right: solid #b5b5b5 1px;
    padding-right: 20px;
}

.image_block_modif .btn{
    padding:1px;
    margin: 0px;
}

.image_block_modif form{
    width: 80px;
}

/* FIN ADMIN */
/*Responsive */
@media (max-width:1380px){
    /*SLIDER*/
    .adminContainer .slider h3{
        text-align:left;
    }
}

@media (max-width: 780px){
    /* navbar site*/
    #slider{
    margin-top: 60px ;
    }
    .container .resp ul li a{
        color: #3e3e3e;
        list-style-type: none;
        text-transform: uppercase;
    }
    .container .resp ul li{
        background-color: #bfbfbf;
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 2px;
        text-align:center;
    }
    .container .resp {
        width:100%;
        background-color: rgba(0, 0, 0, 0.77);;
        padding: 10px;
    }

    .container .cross, .container .ham{
        color: #6e6e6e;
    }

    .container .resp ul {
        list-style-type: none;
        border-radius: 10px;
    }
    /****************/
    /* navbar ADMIN*/
    .adminBody nav{
        margin-bottom: 0px;
    }

    .adminContainer{
        margin-left: 20%;
    }

    .adminBody .navbar-inverse{
        padding: 0;
    }

    .adminBody .resp .ham, .adminBody .resp .cross {
        color: #b1b1b1;
    }
    .adminBody .resp ul li a{
        color: #b1b1b1;
        list-style-type: none;
    }

    .adminBody .resp ul li a{
        color: #3e3e3e;
        list-style-type: none;
        text-transform: uppercase;
    }
    .adminBody .resp ul li{
        background-color: #b4b4b4;
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 2px;
        text-align:center;
    }

    .adminBody .resp {
        margin-bottom: 20px;
        width:100%;
        background-color: #5e5e5e;
    }
    .adminBody .resp ul {
        list-style-type: none;
        border-radius: 10px;
    }
    /* SLIDER ADMIN */
    .image_block_modif{
        margin: 20px 0;
    }

    /* Contact */
    .form-contact .email-form {
        margin:0;
    }

    .form-contact .btn-envoi {
        margin:0;
    }
}