{% extends 'base.html.twig' %}
{% block body %}
    <div id="slider"> <!-- Debut carousel -->

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicateurs -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/elephants.jpg" alt="boucle oreille 1">
                </div>

                <div class="item">
                    <img src="images/hiboux.jpg" alt="boucle oreille 2">
                </div>

                <div class="item">
                    <img src="images/plumes.jpg" alt="boucle oreille 3">
                </div>

            </div>

            <!-- Control -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>

    </div><!-- Fin carousel -->

    <div id="slider">

    </div>

    <div class="Presentation text-center"> <h1> Qui suis-je ? </h1>
        <p> Contenu article </p>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center article-h"> Article</div>
            <div class="col-md-6 text-center article-h"> Article 2</div>
            <div class="col-md-6 text-center article-h"> Article 3</div>
            <div class="col-md-6 text-center article-h"> Article 4</div>



        </div>
    </div>


{% endblock %}
