{% extends 'base.html.twig' %}
{% block body %}
    <div id="slider">

    </div>

    <div class="Presentation text-center"> <h1> Qui suis-je ? </h1>
        <p> Contenu article </p>


    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center article-h"> Article</div>
            <div class="col-md-6 text-center article-h"> Article 2</div>
            <div class="col-md-6 text-center article-h"> Article 3</div>
            <div class="col-md-6 text-center article-h"> Article 4</div>



        </div>
    </div>


{% endblock %}