{%  extends 'base-admin.html.twig' %}











{% block body %}

<p> Bienvenue sur la page admin , </p>
    <p> Les modifications s'effectueront ici grace à la side bar sur la gauche .</p>

{%  endblock %}