<<<<<<< HEAD
{% extends 'login.html.twig' %}

{% block admin %}

<p>xouxou </p>


{% endblock %}
=======
{%  extends 'base-admin.html.twig' %}











{% block body %}

<p><a href="/admin/article/ajouter">Coucou les terriens</a></p>

{%  endblock %}
>>>>>>> master
