{%  extends 'base-admin.html.twig' %}











{% block body %}

<p><a href="/admin/article/ajouter">Ajouter un article</a></p>
<p><a href="/admin/slider/ajouter">Ajouter une image au slider</a></p>


{%  endblock %}