{% extends 'base.html.twig' %}
{% block body %}

<div class="container">

    <div class="articlePrincipale">
        <img src="" alt="photo">
        <p>description de l'objet</p>
    </div>

    <div class="col-md-6 col-sm-6">
        <h2>titre Article</h2>
        <p>blablababalabla</p>
    </div>

    <div class="col-md-6 col-sm-6">
        <h2>titre Article</h2>
        <p>blablalbalbla</p>
    </div>

</div>










{% endblock %}