{% extends 'base.html.twig' %}
{% block body %}

<div class="container">

    <div class="articlePrincipale">
        <img src="" alt="photo">
        <p>description de l'objet</p>
    </div>

    {% for article in articles %}
    <div class=" articleMove col-md-6 col-sm-6">
        <h2>{{ article.titre_article }}</h2>
        <img class="img-responsive" src="{{ article.image }}" alt="{{ article.titre_article }}">
        <p>{{ article.description }}</p>
    </div>
    {% endfor %}


</div>










{% endblock %}